<md-content layout="column" layout-padding md-whiteframe="2">
    <div flex>
        <form>
            <div layout layout-align="center" layout-padding>
                <div flex="30">
                    <md-input-container class="md-icon-float md-block" flex-gt-sm="">
                        <label>Domain</label>
                        <input ng-model="buildwith.domain" name="domain">
                    </md-input-container>
                </div>
                <div>
                    <md-button class="md-raised" ng-click="buildwith.buildwith()" type="submit">GO BUILD WITH</md-button>
                </div>
            </div>

        </form>
    </div>

    <md-content>
        <!--
                <div layout="column" ng-show="haveibeenpwned.isPwned">
                    <div layout layout-align="center center">
                        <h2 style="color:red"><i class="material-icons">mood_bad</i> Pwned ! </h2>
                    </div>
                    <div layout layout-align="center center">
                        <h3>{{haveibeenpwned.testedEmail}} : Pwned on {{haveibeenpwned.haveIBeenPwnedResult.length}} breached sites </h3>
                    </div>
                </div>
                <div layout flex="100" ng-show="haveibeenpwned.isPwned==false" layout-align="center">
                    <div>
                        <h2 style="color:green"><i class="material-icons" >mood</i> No breached accounts ! </h2>
                    </div>
                </div>
                -->

        <div ng-if="buildwith.isLoad">
            <h3>Profil détaillé des technologies utilisées sur {{buildwith.domain}} : </h3>

            <div layout layout-wrap>

                <div layout flex="33" flex-xs="100" ng-repeat="items in buildwith.techByTag">

                    <md-card style="background-color:#F6F6F6;">

                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline"> {{items.realTagName}} </span>
                            </md-card-title-text>
                        </md-card-title>

                        <div ng-repeat="item in items.technologies">

                            <hr>

                            <md-card-content flex class="font-mono">
                                <label><b> Nom : </b> {{ item.Name }} </label> <br>
                                <label><b> Description : </b> {{ item.Description }} </label> <br>
                                <label><b> Plus d'informations : </b> <a ng-href="{{item.Link}}">{{ item.Link }} </a> </label> <br>
                                <label><b> Première détection par Built With : </b> {{ item.FirstDetected }} </label> <br>
                                <label><b> Dernière détection par Built With : </b> {{ item.LastDetected }} </label> <br>
                                <label ng-if="item.Categories.length > 0"><b> Catégories : </b> {{ item.Categories }} </label> <br>
                            </md-card-content>

                        </div>

                    </md-card>

                </div>

            </div>
        </div>

    </md-content>

    <div ng-show="buildwith.isLoad">
        <h3 ng-if="buildwith.isLoad">Contenu brut</h3>
        <json-formatter json="buildwith.buildwithResult" open="10"></json-formatter>
    </div>

</md-content>

