<md-content layout="column" flex md-whiteframe="2">

	<div flex layout>
		<div>
			<md-sidenav class="md-sidenav-left" md-component-id="procedureSidenav" md-whiteframe="2" md-is-locked-open="true">
				<md-toolbar layout="row">
					<div class="md-toolbar-tools">
						<h2>Procedure</h2>
					</div>
				</md-toolbar>
				<md-content layout="column" layout-padding flex>
					<md-list>

						<md-subheader>Step 1</md-subheader>

						<md-list-item ng-click="procedure.redirectTo('stepone')">
							How to fetch data
						</md-list-item>
						<md-list-item ng-click="procedure.redirectTo('stepone')">
							How to fetch data
						</md-list-item>

						<md-divider></md-divider>

						<md-subheader>Step 2</md-subheader>
						<md-list-item ng-click="procedure.redirectTo('steptwo')">
							How to sort data
						</md-list-item>
						<md-list-item ng-click="procedure.redirectTo('steptwo')">
							Tache
						</md-list-item>

						<md-divider></md-divider>

						<md-subheader>Step 3</md-subheader>
						<md-list-item ng-click="procedure.redirectTo('stepthree')">
							How to determine 
						</md-list-item>
						<md-list-item ng-click="procedure.redirectTo('stepthree')">
							Tache 4
						</md-list-item>
					</md-list>
				</md-content>
			</md-sidenav>

		</div>
		<div flex layout layout-padding>
			
			<div flex>
				<div>
					<div ng-include="procedure.page"></div>
				</div>
			</div>
			
		</div>
	</div>


</md-content>