<md-content layout="column" flex md-whiteframe="2">

	<div flex layout>
		<div>
			<md-sidenav class="md-sidenav-left" md-component-id="procedureSidenav" md-whiteframe="2" md-is-locked-open="true">
				<md-toolbar layout="row">
					<div class="md-toolbar-tools">
						<h2>Procedure</h2>
					</div>
				</md-toolbar>
				<md-content layout="column" flex>
					<md-list>

						<md-subheader>Introduction</md-subheader>

						<md-list-item ng-click="procedure.redirectTo('presentation')">
							Présentation du site
						</md-list-item>
						<md-list-item ng-click="procedure.redirectTo('home')">
							Page d'accueil
						</md-list-item>

						<md-divider></md-divider>

						<md-subheader>Outils</md-subheader>
						<md-list-item ng-click="procedure.redirectTo('analyzer')">
							ANALYSER
						</md-list-item>
						<md-list-item ng-click="procedure.redirectTo('haveibeenpwned')">
							HAVE I BEEN PWNED
						</md-list-item>
						<md-list-item ng-click="procedure.redirectTo('whois')">
							WHO IS
						</md-list-item>
						<md-list-item ng-click="procedure.redirectTo('shodan')">
							SHODAN
						</md-list-item>
						<md-list-item ng-click="procedure.redirectTo('dorks')">
							GOOGLE DORKS
						</md-list-item>
						<md-list-item ng-click="procedure.redirectTo('ssl')">
							SSL
						</md-list-item>
						<md-list-item ng-click="procedure.redirectTo('builtwith')">
							BUILT WITH
						</md-list-item>
						<md-list-item ng-click="procedure.redirectTo('dnsbl')">
							DNS BLACK LIST
						</md-list-item>
						<md-divider></md-divider>


					</md-list>
				</md-content>
			</md-sidenav>

		</div>
		<div flex layout layout-padding>
			
			<div flex>
				<div>
					<div ng-include="procedure.page"></div>
				</div>
			</div>
			
		</div>
	</div>

</md-content>
