<md-content layout="column" layout-padding flex md-whiteframe="2" ng-cloak>
	<form name="googleDorksForm">
		<div flex class="search">
			<md-toolbar class="title-tool">
				GOOGLE DORKS
			</md-toolbar>
			<div class="text-infos">
				{{googledorks.GOOGLEDORKS_MESSAGE_INFO}}
			</div>
			<div layout layout-align="center" layout-xs="column">
				<div flex="10"></div>
				<md-input-container flex="31" class="md-icon-float md-block">
					<label>Site</label>
					<md-icon><i class="material-icons">search</i></md-icon>
					<input ng-model="googledorks.domain" name="domain" required>
					<div ng-messages="googleDorksForm.domain.$error">
						<div ng-message="required">Ce champ est obligatoire.</div>
					</div>
				</md-input-container>
				<div layout flex="5"></div>
				<div layout flex="32">
					<div layout="column" flex>
						<md-input-container flex>
							<label>Google Dorks</label>
							<md-select ng-model="googledorks.dorkSelected" name="googleDorksSelect"
							ng-change="googledorks.changedValue(googledorks.dorkSelected)" required>
								<md-option ng-repeat="dork in googledorks.dorksList" value="{{dork}}">
									{{dork.name}}
								</md-option>
							</md-select>
							<div ng-messages="googleDorksForm.googleDorksSelect.$error">
								<div ng-message="required">Veuillez choisir un google dorks.</div>
							</div>
						</md-input-container>
						<md-input-container flex ng-show="googledorks.dorkSelectedDetail.name =='Personnalisé'">
							<label>Google Dorks Personnalisé</label>
							<input ng-model="googledorks.customDork"/>
						</md-input-container>
						<md-input-container flex style="margin-top:-20px">
							<label></label>
							<input ng-show="googledorks.dorkSelectedDetail && googledorks.dorkSelectedDetail.name !='Personnalisé'"
							ng-disabled="true"
							value="{{googledorks.dorkSelectedDetail.dork}}"/>
						</md-input-container>
					</div>
				</div>
				<div flex="31">
					<md-button class="md-raised" ng-click="googledorks.search()" type="submit"
					ng-disabled="googleDorksForm.$invalid">
					Chercher
					</md-button>
					<md-icon>
						<md-tooltip>
							{{googledorks.GOOGLEDORKS_HOW_TO}}
						</md-tooltip>
						<i class="material-icons">help</i>
					</md-icon>
				</div>

			</div>
		</div>
	</form>

	<md-divider ng-if="googledorks.hasResult"></md-divider>
	<md-content layout layout-padding>
		<md-list ng-if="googledorks.hasResult">
			<md-list-item class="md-3-line" ng-repeat="result in googledorks.googleSearchResult">
				<div class="md-list-item-text" layout="column">
					<h3><a target="_blank" ng-href="{{result.href}}" ng-bind-html="result.title"></a></h3>
					<h4 style="color:#009688">{{result.href}}</h4>
					<p ng-bind-html="result.description"></p>
				</div>
			</md-list-item>
		</md-list>
		<h4 ng-if="googledorks.hasResult==false">No documents correspond to the specified search terms</h4>
	</md-content>

</md-content>
