<md-content layout="column" layout-padding flex md-whiteframe="2">
    <form>
        <div layout layout-align="center" layout-xs="column">

            <md-input-container flex="33%" class="md-icon-float md-block" >
                <label>Site</label>
                <md-icon><i class="material-icons">search</i></md-icon>
                <input ng-model="googledorks.toFind" name="toFind">
            </md-input-container>

            <md-input-container flex="33%">
                <label>Google Dorks</label>
                <md-select ng-model="googledorks.dorkSelected">
                    <md-option ng-repeat="dork in googledorks.dorksList" value="{{dork}}">
                        {{dork.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div flex="33%">
                <md-button class="md-raised" ng-click="googledorks.search()" type="submit">
                    Chercher
                </md-button>
            </div>
            
        </div>
    </form>
</md-content>
