<md-content layout="column" layout-padding flex md-whiteframe="2" xmlns="http://www.w3.org/1999/html">
	<div flex>
		<form>
			<div layout layout-align="center" layout-xs="column">
				<md-input-container flex="33%" class="md-icon-float md-block">
					<label>Domain</label>
					<input ng-model="ssl.domain" name="domain">
				</md-input-container>
				<div flex="33%">
					<md-button class="md-raised" ng-click="ssl.getSsl()" type="submit">CHECK</md-button>
				</div>
			</div>
		</form>

		<div layout layout-wrap ng-show="ssl.isSsl">
			<div layout flex="50" flex-xs="100">
				<md-card flex="49" class="bg-grey">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">SSL Report : {{ssl.domain}} </span> 
						</md-card-title-text>
					</md-card-title>
					<md-card-content flex class="font-mono">
						<label><b> Host : </b> {{ ssl.sslResult.host }} </label> <br>
						<label><b> Port : </b> {{ ssl.sslResult.port }} </label> <br>
						<label><b> Protocol : </b> {{ ssl.sslResult.protocol }} </label> <br>
						<label><b> IsPublic: </b> {{ ssl.sslResult.isPublic }} </label> <br>
						<label><b> EngineVersion: </b> {{ ssl.sslResult.engineVersion }} </label> <br>
					</md-card-content>
				</md-card>
			</div>
		</div>
		<h3> {{ssl.sslResult.endpoints.length}} IP address(es) found</h3>
		<div layout flex="100" ng-show="ssl.isSsl" ng-repeat="item in ssl.sslResult.endpoints">
			<md-card flex class="bg-grey">
				<md-card-title flex>
					<md-card-title-text>
						<span class="md-headline"> {{item.ipAddress}} </span> 
					</md-card-title-text>
					<md-card-title-media>
						<div class="md-media-md card-media grade">
							{{item.grade}}
						</div>
					</md-card-title-media>
				</md-card-title>
				<md-card-content flex class="font-mono">
					<div flex layout>
						<div flex>
							<h2> Authentification </h2><br>
							<md-card>
								<md-card-title flex>
									<md-card-title-text><h3> Server Key and Certificate </h3></md-card-title-text>
								</md-card-title>
								<md-card-content class="font-mono">
									<label><b> Subject : </b>  </label> <br>
									<label><b> Common Names : </b> {{ item.details.cert.commonNames }} </label> <br>
									<label><b> Alternative names : </b>{{ item.details.cert.altNames | altNamesFilter }} </label> <br>
									<label><b> Valid from : </b> {{ item.details.cert.notBefore | date: 'dd/MM/yyyy' }} </label> <br>
									<label><b> Valid until : </b> {{ item.details.cert.notAfter | date: 'dd/MM/yyyy' }} </label> <br>
									<label><b> Key : </b> {{item.details.key.alg}} {{item.details.key.size}}bits </label> <br>
									<label><b> Issuer : </b> {{ item.details.cert.issuerLabel }} </label> <br>
									<label><b> AIA : </b> {{ item.details.cert.ocspURIs }} </label> <br>
									<label><b> Signature algorithm : </b> {{ item.details.cert.sigAlg }} </label> <br>
									<label><b> Extended Validation : </b> {{ item.details.cert.validationType | validationTypeFilter }} </label> <br>
									<label><b> Certificate Transparency : </b> {{ item.details.cert.sct }} </label> <br>
									<label><b> Revocation information : </b> 
										<span ng-show="item.details.cert.crlRevocationStatus=='2'">CRL </span>
										<span ng-show="item.details.cert.ocspRevocationStatus=='2'">OCSP</span>
									</label> <br>
									<label ng-show="item.details.cert.crlRevocationStatus=='2'"><b> CRL : </b> {{item.details.cert.crlURIs}}</label> <br>
									<label ng-show="item.details.cert.ocspRevocationStatus=='2'"><b> OCSP : </b> {{item.details.cert.ocspURIs}}</label> <br>
									<label><b> Revocation status : </b> {{ item.details.cert.revocationStatus | revocationStatusFilter }} </label> <br>
									<label><b> Trusted : </b> {{item.details.issues | issuesFilter}} </label> <br>
								</md-card-content>
							</md-card>
						</div>
					</div>
					<h2 flex> Configuration </h2><br>
					<div flex layout>
						<md-card flex="49">
							<md-card-title>
								<md-card-title-text><h3> Protocols </h3></md-card-title-text>
							</md-card-title>
							<md-card-content flex>
								<div ng-repeat="protocol in item.details.protocols">
									<label>{{protocol.name}} {{protocol.version}} </label> <br>
								</div>
							</md-card-content>
						</md-card>
						<md-card flex="49">
							<md-card-title flex>
								<md-card-title-text><h3> Cipher Suites </h3></md-card-title-text>
							</md-card-title>
							<md-card-content>
								<div ng-repeat="suites in item.details.suites.list">
									<label>{{suites.name}} <span class="float-right">{{suites.cipherStrength}}</span> </label> <br>
								</div>
							</md-card-content>
						</md-card>
					</div>
					<div flex layout>
						<md-card flex>
							<md-card-title flex>
								<md-card-title-text><h3> Handshake Simulation </h3></md-card-title-text>
							</md-card-title>
							<md-card-content flex layout>
								<div flex="45" class="two-column-border">
									<div ng-repeat="sim in item.details.sims.results | range: {begin:0,end:(item.details.sims.results.length /2)-1}" >
										<label>{{sim.client.name}} {{sim.client.platform}} {{sim.client.version}}
											<span ng-show="sim.protocolId=='769'" class="float-right">TLS 1.0</span>
											<span ng-show="sim.protocolId=='771'" class="float-right";">TLS 1.2</span>
										</label>
									</div>
								</div>
								<div flex="45" class="padding-left">
									<div ng-repeat="sim in item.details.sims.results | range: {begin:(item.details.sims.results.length /2),end:item.details.sims.results.length}">
										<label>{{sim.client.name}} {{sim.client.version}}
											<span ng-show="sim.protocolId=='769'" class="float-right">TLS 1.0</span>
											<span ng-show="sim.protocolId=='771'" class="float-right">TLS 1.2</span>
										</label> <br>
									</div>
								</div>
							</md-card-content>
						</md-card>
					</div>
					<div flex layout>
						<md-card flex>
							<md-card-title flex>
								<md-card-title-text><h3> Protocol Details </h3></md-card-title-text>
							</md-card-title>
							<md-card-content flex>
								<label><b> DROWN : </b></label>
								<label ng-show="item.details.drownHosts.length == 0"> No, server keys and hostname not seen elsewhere with SSLv2. <br> <a href="https://blog.qualys.com/securitylabs/2016/03/04/ssl-labs-drown-test-implementation-details" target="_blank"> More informations</a>
								</label>
								<div ng-show="item.details.drownHosts.length > 0" ng-repeat="drown in item.details.drownHosts">
									<label >{{drown}}</label>
								</div><br>
								<label><b>Secure Renegotiation : </b> {{item.details.renegSupport | renegSupportFilter}}</label><br>
								<label><b>BEAST attack : </b> {{item.details.vulnBeast | vulnBeastFilter}}</label><br>
								<label><b>POODLE (SSLv3) : </b> {{item.details.poodle | poddleFilter}}</label><br>
								<label><b>POODLE (TLS) : </b> {{item.details.poodleTls | poddleTlsFilter}}</label><br>
								<label><b>Downgrade attack prevention : </b> {{item.details.fallbackScsv  | fallbackScsvFilter}}</label><br>
								<label><b>SSL/TLS compression : </b> {{item.details.compressionMethods   | compressionMethodsFilter}}</label><br>
								<label><b>RC4 : </b> {{item.details.supportsRc4 | yesNowithBooleanFilter}}</label><br>
								<label><b>Heartbeat (extension) : </b> {{item.details.heartbeat | yesNowithBooleanFilter}}</label><br>
								<label><b>Heartbleed (vulnerability) : </b> {{item.details.Heartbleed | yesNowithBooleanFilter}}</label><br>
								<label><b>OpenSSL CCS vuln. (CVE-2014-0224) : </b> {{item.details.openSslCcs | openSslCcsFilter}}</label><br>
								<label><b>Forward Secrecy : </b> {{item.details.forwardSecrecy | forwardSecrecyFilter}}</label><br>
								<label><b>ALPN (SNI) : </b> {{item.details.sniRequired  | yesNowithBooleanFilter}}</label><br>
								<label><b>NPN : </b> {{item.details.supportsNpn  | yesNowithBooleanFilter}}</label><br>
								<label><b>Session resumption (caching) : </b> {{item.details.sessionResumption  | sessionResumptionFilter}}</label><br>
								<label><b>Session resumption (tickets) : </b> {{item.details.sessionTickets | sessionTicketsFilter}}</label><br>
								<label><b>OCSP stapling : </b> {{item.details.ocspStapling | yesNowithBooleanFilter}}</label><br>
								<label><b>Strict Transport Security (HSTS) : </b> {{item.details.hstsPolicy.status}}</label><br>
								<label><b>HSTS Preloading : </b> not in 
									<span ng-repeat="hsts in item.details.hstsPreloads"> {{hsts.source}} </span>
								</label><br>
								<label><b>Uses common DH primes : </b> {{item.details.dhUsesKnownPrimes | dhUsesKnownPrimesFilter}}</label><br>
								<label><b>DH public server param (Ys) reuse : </b> {{item.details.dhYsReuse | yesNowithBooleanFilter}}</label><br>
								<label><b>SSL 2 handshake compatibility : </b> {{item.details.sims.results[0].errorCode | handshakeCompatibilityFilter}}</label><br>
							</md-card-content>
						</md-card>
					</div>
				</md-card-content>
			</md-card>
		</div>
	</div>
	<a href="https://github.com/ssllabs/ssllabs-scan/blob/stable/ssllabs-api-docs.md" target="_blank">SSL Labs API documentation</a>
</md-content>

