.grade {
	text-align: center;
	color: #64DD17;
	border: 1px solid;
	border-radius: 30px;
	font-size: 80px;
}

.float-right {
	float: right;
}

.two-column-border {
	padding-right: 5px;
	border-right: 2px solid;
}

.padding-left {
	padding-left:5px;
}