<div layout layout-align="center" layout-padding>

    <div flex>

        <form>

            <div layout layout-align="center" layout-padding>

                <div flex="30">

                    <md-input-container class="md-icon-float md-block" flex-gt-sm="">

                        <label>IP</label>

                        <input ng-model="shodan.domain" name="domain">

                    </md-input-container>

                </div>

                <div>
                    <md-button class="md-raised" ng-click="shodan.shodan()" type="submit">GO SHODAN</md-button>
                </div>

            </div>


        <pre>
            {{shodan.shodanResult | json}}
        </pre>


        </form>

    </div>



</div>

<!--

<div md-whiteframe="2" layout layout-padding>
    <div flex="50" ng-if="shodan.url">
        <h3>SHODAN de l'IP du site {{shodan.url}}</h3>
        <div>
            <h4>HEADERS</h4>
            <table class="border-table">
                <tr ng-repeat="(key,value) in shodan.shodanResult.headers">
                    <td> {{key}} </td>
                    <td> {{value}} </td>
                </tr>
            </table>
        </div>

        <div>
            <h4>REQUEST</h4><table>
            <table class="border-table">
                <tr ng-repeat="(key,value) in shodan.shodanResult.request">
                    <td> {{key}} </td>
                    <td ng-if="key=='uri'">
                        <table>
                            <tr ng-repeat="(key2,value2) in value">
                                <td> {{key2}} </td>
                                <td> {{value2}} </td>
                            </tr>
                        </table>
                    </td>

                    <td ng-if="key!='uri'"> {{value}} </td>

                </tr>

            </table>
        </div>
    </div>
</div>
-->
