<md-content layout="column" layout-padding md-whiteframe="2">
    <div flex>
        <form>
            <div flex class="search">
                <md-toolbar class="title-tool">
                    BUILTWITH
                </md-toolbar>
                <div class="text-infos">
                    {{builtwith.BUILTWITH_MESSAGE_INFO}}
                </div>
                <div layout layout-align="center" layout-padding>
                    <div flex="30">
                        <md-input-container class="md-icon-float md-block" flex-gt-sm="">
                            <label>Domain</label>
                            <input ng-model="builtwith.domain" name="domain">
                        </md-input-container>
                    </div>
                    <div>
                        <md-button class="md-raised" ng-click="builtwith.builtwith()" type="submit">GO BUILT WITH</md-button>
                        <md-icon>
                            <md-tooltip>
                                {{builtwith.BUILTWITH_HOW_TO}}
                            </md-tooltip>
                            <i class="material-icons">help</i>
                        </md-icon>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <md-content>
        <div ng-if="builtwith.isLoad">
            <div layout layout-wrap>

                <div layout flex="100" flex-xs="100" ng-repeat="items in builtwith.techByTag">

                    <md-card flex style="background-color:#F6F6F6;">

                        <md-card-title flex style="background-color:#E1F5FE;">
                            <md-card-title-text>
                                <span class="md-headline"> {{items.realTagName}} </span>
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-content flex class="font-mono">
                            <br>
                            <div ng-repeat="item in items.technologies">
                                <br>
                                <label style="font-size:1.3em"><b> {{ item.Name }} </b></label> <br>
                                <label>{{ item.Description }} </label> <br>
                                <label><a ng-href="{{item.Link}}" style="text-decoration:none"> Plus d'informations...</a></label> <br>
                                <!--  <label><b> Première détection par Built With : </b> {{ item.FirstDetected }} </label> <br>
                                <label><b> Dernière détection par Built With : </b> {{ item.LastDetected }} </label> <br> -->
                                <label ng-if="item.Categories.length > 0"><b> Catégories : </b> {{ item.Categories }} </label>
                                <br>
                                <br>
                            </div>
                        </md-card-content>

                    </md-card>

                </div>

            </div>
        </div>

    </md-content>
    <div ng-show="builtwith.isLoad">
        <h3 ng-if="builtwith.isLoad">Contenu brut</h3>
        <json-formatter json="builtwith.builtwithResult" open="0"></json-formatter>
        <md-button class="md-raised md-primary" ng-click="builtwith.exportData()">Export JSON</md-button>
    </div>
</md-content>
