<md-content layout="column" layout-padding flex md-whiteframe="2">

	<div flex>
		<form name="whoisForm">
			<div flex class="search">
				<md-toolbar class="title-tool">
					WHOIS
				</md-toolbar>
				<div class="text-infos">
					{{whois.WHOIS_MESSAGE_INFO}}
				</div>
				<div layout layout-align="center" layout-padding>
					
					<div flex="30">
						<md-input-container class="md-icon-float md-block">
							<label>Domain</label>
							<input ng-model="whois.domain" name="domain" required>
							<div ng-messages="whoisForm.domain.$error">
								<div ng-message="required">Ce champ est obligatoire.</div>
							</div>
						</md-input-container>

					</div>

					<div>
						<md-button class="md-raised" ng-click="whois.whois()" type="submit" ng-disabled="whoisForm.$invalid">WHOIS</md-button>
						<md-icon class="icon-info">
							<md-tooltip>
								{{whois.WHOIS_HOW_TO}}
							</md-tooltip>
							<i class="material-icons">help</i>
						</md-icon>
					</div>

				</div>
			</div>
		</form>

	</div>
	<div layout layout-wrap>
		<div ng-show="whois.isMap" id='map' style='width: 100%; height: 300px;'></div>
	</div>


	<div layout layout-wrap ng-show="whois.iswhois" flex-offset="1">
			<md-card flex="49" style="background-color:#F6F6F6;">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Domaine</span> 
					</md-card-title-text>
				</md-card-title>
				<md-card-content flex class="font-mono">
					<label><b> Nom : </b> {{ whois.whoIsResult.domainName }} </label> <br>
					<label><b> Identifiant : </b> {{ whois.whoIsResult.registryDomainId }} </label> <br>
					<label><b> Date création : </b> {{ whois.whoIsResult.creationDate | date: 'dd/MM/yyyy' }} </label> <br>
					<label><b> Date expiration : </b> {{ whois.whoIsResult.registrarRegistrationExpirationDate | date: 'dd/MM/yyyy' }} </label> <br>
					<label><b> Statut : </b> {{ whois.whoIsResult.domainStatus }} </label> <br>
					<label><b> Serveur : </b> {{ whois.whoIsResult.nameServer }} </label> <br>
					<label><b> DNSSEC : </b> {{ whois.whoIsResult.dnssec }} </label> <br>
				</md-card-content>
			</md-card>
			<md-card flex="49" style="background-color:#F6F6F6;">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Propriétaire</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content flex class="font-mono">
					<label><b> Nom : </b> {{ whois.whoIsResult.registrantName }} </label> <br>
					<label><b> Entreprise : </b> {{ whois.whoIsResult.registrantOrganization }} </label> <br>
					<label><b> Adresse : </b> {{ whois.whoIsResult.registrantStreet }}   {{ whois.whoIsResult.registrantCity }}   {{ whois.whoIsResult.registrantPostalCode }}   {{ whois.whoIsResult.registrantCountry }}</label> <br>
					<label><b> Téléphone : </b> {{ whois.whoIsResult.registrantPhone }} </label> <br>
					<label><b> E-mail : </b> {{ whois.whoIsResult.registrantEmail }} </label> <br>
				</md-card-content>
			</md-card>
			<md-card flex="49" style="background-color:#F6F6F6;">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Administrateur</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content flex class="font-mono">
					<label><b> Nom : </b> {{ whois.whoIsResult.adminName }} </label> <br>
					<label><b> Entreprise : </b> {{ whois.whoIsResult.adminOrganization }} </label> <br>
					<label><b> Adresse : </b> {{ whois.whoIsResult.adminStreet }}   {{ whois.whoIsResult.adminCity }}   {{ whois.whoIsResult.adminPostalCode }}   {{ whois.whoIsResult.adminCountry }}</label> <br>
					<label><b> Téléphone : </b> {{ whois.whoIsResult.adminPhone }} </label> <br>
					<label><b> E-mail : </b> {{ whois.whoIsResult.adminEmail }} </label> <br>
				</md-card-content>
			</md-card>

	</div>


	<div layout layout-padding>
		
		<div flex="100" ng-show="whois.iswhois">
			<div>
				<h3 ng-if="whois.domain">Contenu brut</h3>
				<table class="border-table">
					<tr ng-repeat="(key,value) in whois.whoIsResult">
						<td> {{key}} </td>
						<td> {{value}} </td>
					</tr>
				</table>
			</div>
		</div>

	</div>

</div>

</md-content>