<md-content layout="column" layout-padding flex md-whiteframe="2">

	<div flex>
		<form name="whoisForm">
			<div layout layout-align="center" layout-padding>
				
				<div flex="30">
					<md-input-container class="md-icon-float md-block">
						<label>Domain</label>
						<input ng-model="whois.domain" name="domain" required>
						<div ng-messages="whoisForm.domain.$error">
							<div ng-message="required">Ce champ est obligatoire.</div>
						</div>
					</md-input-container>

				</div>

				<div>
					<md-button class="md-raised" ng-click="whois.whois()" type="submit" ng-disabled="whoisForm.$invalid">WHOIS</md-button>
				</div>

			</div>
		</form>

	</div>
	
	<div ng-show="whois.isMap" id='map' style='width: 400px; height: 300px;'></div>


	<div layout layout-wrap ng-show="whois.iswhois">
			<md-card flex="45" style="background-color:#F6F6F6;">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Domaine</span> 
					</md-card-title-text>
				</md-card-title>
				<md-card-content flex class="font-mono">
					<label><b> Nom : </b> {{ whois.whoIsResult.domainName }} </label> <br>
					<label><b> Identifiant : </b> {{ whois.whoIsResult.registryDomainId }} </label> <br>
					<label><b> Date création : </b> {{ whois.whoIsResult.creationDate | date: 'dd/MM/yyyy' }} </label> <br>
					<label><b> Date expiration : </b> {{ whois.whoIsResult.registrarRegistrationExpirationDate | date: 'dd/MM/yyyy' }} </label> <br>
					<label><b> Statut : </b> {{ whois.whoIsResult.domainStatus }} </label> <br>
				</md-card-content>
			</md-card>
			<md-card flex="45" style="background-color:#F6F6F6;">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Propriétaire</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content flex class="font-mono">
					<label><b> Nom : </b> {{ whois.whoIsResult.registrantName }} </label> <br>
					<label><b> Entreprise : </b> {{ whois.whoIsResult.registrantOrganization }} </label> <br>
					<label><b> Adresse : </b> {{ whois.whoIsResult.registrantStreet }}   {{ whois.whoIsResult.registrantCity }}   {{ whois.whoIsResult.registrantPostalCode }}   {{ whois.whoIsResult.registrantCountry }}</label> <br>
					<label><b> Téléphone : </b> {{ whois.whoIsResult.registrantPhone }} </label> <br>
					<label><b> E-mail : </b> {{ whois.whoIsResult.registrantEmail }} </label> <br>
				</md-card-content>
			</md-card>
			<md-card flex="45" style="background-color:#F6F6F6;">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Propriétaire</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content flex class="font-mono">
					<label><b> Nom : </b> {{ whois.whoIsResult.registrantName }} </label> <br>
					<label><b> Entreprise : </b> {{ whois.whoIsResult.registrantOrganization }} </label> <br>
					<label><b> Adresse : </b> {{ whois.whoIsResult.registrantStreet }}   {{ whois.whoIsResult.registrantCity }}   {{ whois.whoIsResult.registrantPostalCode }}   {{ whois.whoIsResult.registrantCountry }}</label> <br>
					<label><b> Téléphone : </b> {{ whois.whoIsResult.registrantPhone }} </label> <br>
					<label><b> E-mail : </b> {{ whois.whoIsResult.registrantEmail }} </label> <br>
				</md-card-content>
			</md-card>

	</div>


	<div layout layout-padding>
		
		<div flex="100" ng-if="whois.domain">
			<div>
				<h3 ng-if="whois.domain">WHOIS de {{whois.domain}}</h3>
				<table class="border-table">
					<tr ng-repeat="(key,value) in whois.whoIsResult">
						<td> {{key}} </td>
						<td> {{value}} </td>
					</tr>
				</table>
			</div>
		</div>

	</div>

</div>

</md-content>